/.idea/.idea.NshmCalcuator/.idea/.gitignore
/.idea/.idea.NshmCalcuator/.idea/encodings.xml
/.idea/.idea.NshmCalcuator/.idea/indexLayout.xml
/.idea/.idea.NshmCalcuator/.idea/vcs.xml
/.idea/config/applicationhost.config
/NshmCalcuator/Client/bin
/.vs
/NshmCalcuator/Client/obj
/NshmCalcuator/Shared/bin
/NshmCalcuator/Shared/obj
/NshmCalcuator/Client/.vs/NshmCalcuator.Client/v17
/NshmCalcuator/Client/Properties/PublishProfiles/FolderProfile.pubxml
/NshmCalcuator/Client/Properties/PublishProfiles/FolderProfile.pubxml.user
/NshmCalculator.MudClient/bin
/NshmCalculator.MudClient/obj
/NshmCalculator.MudClient/Properties/PublishProfiles
