/.idea/.idea.NshmCalcuator/.idea/.gitignore
/.idea/.idea.NshmCalcuator/.idea/encodings.xml
/.idea/.idea.NshmCalcuator/.idea/indexLayout.xml
/.idea/.idea.NshmCalcuator/.idea/vcs.xml
/.idea/config/applicationhost.config
/NshmCalcuator/Client/bin
/.vs
/NshmCalcuator/Client/obj
/NshmCalcuator/Shared/bin
/NshmCalcuator/Shared/obj
/NshmCalcuator/Client/.vs/NshmCalcuator.Client/v17
/NshmCalcuator/Client/Properties/PublishProfiles/FolderProfile.pubxml
/NshmCalcuator/Client/Properties/PublishProfiles/FolderProfile.pubxml.user
/NshmCalculator.MudClient/bin
/NshmCalculator.MudClient/obj
/NshmCalculator.MudClient/Properties/PublishProfiles
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
.idea
/NshmCalculator.sln.DotSettings.user
/NshmCalculator.MudClient/NshmCalculator.MudClient.csproj.user
