@using System.Diagnostics.CodeAnalysis
@using NshmCalculator.Client.Pages
@inherits LayoutComponentBase
@inject DialogService DialogService

<Layout ShowFooter="true" IsPage="true">
    <Header>
        <div class="col-12" style="text-align:right">
            <Button ButtonType="ButtonType.Button" Icon="fas fa-download" OnClick="@OnClickPwa"></Button>
            <Button ButtonType="ButtonType.Button" Icon="fas fa-circle-info" OnClick="@OnClickTips"></Button>
        </div>
    </Header>
    <Main>
        @Body
    </Main>
    <Footer>
        <div class="col-12" style="text-align:center">Version:1.2.0 | Powered by .NET 6.0</div>
    </Footer>
</Layout>

@code
{
    [Inject]
    [NotNull]
    private DialogService? Service { get; set; }

    private readonly DialogOption _tipsOption = new()
    {
        Title = "关于本工具",
        ShowFooter = false,
        Component = BootstrapDynamicComponent.CreateComponent<About>()
    };

    private readonly DialogOption _pwaOption = new()
    {
        Title = "添加至主屏幕功能介绍",
        ShowFooter = false,
        Component = BootstrapDynamicComponent.CreateComponent<AddPwa>()
    };


    private Task OnClickTips() => Service.Show(_tipsOption);

    private Task OnClickPwa() => Service.Show(_pwaOption);
}