<Tab IsBorderCard="true">
    <TabItem Text="在线计算器使用说明">
        <Scroll Height="500px">
            <h4>在线工具作者：菜菜菜菜菜</h4>
            <p/>
            <p>本在线计算器工具包含增伤百分比计算和属性收益计算</p>
            <p>增伤百分比计算器公式来源：B站<b>@@白宝正不正</b>的“逆水寒属性 - 计算器1.3版本”</p>
            <p>属性收益计算器公式来源：贴吧<b>@@星语困</b>的“逆水寒手游属性收益计算器V1.1”</p>
            <p/>
            <p>B站<b>@@白宝正不正</b> B站视频链接：<a href="https://www.bilibili.com/video/BV1DP411Y7MK">传送门</a></p>
            <p>贴吧<b>@@星语困</b> 原贴链接:<a href="https://tieba.baidu.com/p/8530450428">传送门</a>
            <p />做这两个计算器主要是为了方便帮派里使用手机的小伙伴进行计算。</p>
            <p>增伤百分比计算器的功能基本已经完成，如果原工具无后续更新应该不会再有改动。</p>
            <p>属性收益计算器需要再实现的功能有:</p>
            <p>1、属性提升收益估算及曲线图[已初步实现]</p>
            <p>2、提升属性增（减）伤百分比计算</p>
            <p>3、双面板伤害期望差距对比</p>
            <p/>
            <p>实现功能暂无明确时间，看空闲时间随缘更新。</p>
        </Scroll>
    </TabItem>
    <TabItem Text="属性收益计算器使用说明">
        <Scroll Height="500px">
            <p>以下内容皆来源于原作者贴吧<b>@@星语困</b>Excel工具内的说明,关于原作者信息可点击“在线计算器使用说明”查看</p>
            <p>1.计算过程包含大量估算的参数（包括boss各属性），结果会有误差，但不会很大 </p>
            <p>2.计算器结果可能随游戏版本更新而失效</p>
            <p>3.因为目前pve环境下不需要考虑破盾，所以气盾计算暂未实装。</p>
            <p>4.“未会心伤害”是一次命中未会心攻击的伤害值，“包含命中会心的伤害期望”是一段时间内伤害的理论均值。计算的都是相对值！要算出游戏内显示的伤害，需要再乘上各个技能的技能倍率以及各种增伤。</p>
            <p>5.收益率计算功能：在已填写面板情况下，提升一定量某属性（暂定为40的整倍数），对应提升的伤害百分比。</p>
            <p>6.按默认的1力量/气海 = 4.65攻击+2破防，1身法 = 0.83命中+1.6会心计算，不包含各个特质（如碎梦刀意）和大特质（如神相大特质）以及各种百分比的额外加成！</p>
        </Scroll>
    </TabItem>
    <TabItem Text="增伤百分比计算器使用说明">
        <Scroll Height="500px">
            <p>以下内容皆来源于原作者B站<b>@@白宝正不正</b>Excel工具内的说明,关于原作者信息可点击“在线计算器使用说明”查看</p>
            <p>1.计算器中命中无法超过满命中值 </p>
            <p>2.计算器中破防无法超过防御，大于防御部分破防无收益所以按照防御值堆破防即可</p>
            <p>3.计算器中敌方防御 敌方格挡需要根据不同副本玩家测算值填入（默认为英雄舞阳数据）</p>
            <p>4.右边为自身基础属性，左边为新增属性。</p>
            <p>5.左边填入不同属性可得到不同增伤值，可用来判断词条强弱，特技强弱，装备词条强弱，可比较多条属性收益。</p>
            <p>6.百分比增伤属性比如日月 百分比克制 远程伤害增加（因为目前稀释有限）这类也可以简单和计算的百分比增伤比。例如： 已有百分比克制10% 新增5%首领克制实际增伤百分比为5%/（100%+10%）=4.55%</p>
            <p>7.如计算弱属性收益时，属攻和新增属攻填入都需要乘以2，才能计算出正确收益。</p>
            <p>8.如计算百分比增加攻击 属攻的收益可以简单的填入实际增加的攻击与属攻值即可。</p>
            <p>9.会伤 新增会伤 周天会心率均为百分数请注意，单击直接输出数字即可。</p>
            <p>10.目前计算器适用PVE，PVP属性未全部纳入可做参考会有一定误差。</p>
            <p>注意事项：</p>
            <p>1.会心会伤收益由于部分伤害无法会心会有出入，命中收益由于部分伤害无法被格挡会有出入（但是这类伤害占比低影响不大）</p>
            <p>2.会心会伤收益与命中收益又相互相关互相影响，即会心会伤不同会改变命中收益反之命中不同也会改变会心会收益，这类不同不是计算器错误反而是正确的证明。</p>
            <p>3.破防与防御为对立属性有防御收益递减所以必有破防收益递增，命中与格挡同理大概率不会存在格挡收益递减其对立属性命中也是收益递减。</p>
            <p>4.额外增加会心率的特技如典型的凌锋击岳特技目前无法简单计算会心会伤收益，但是可参考计算的值其中会心收益略下浮，会伤收益略上浮</p>
            <p>5.尽信书则不如无书，小工具目的是回答一些关于属性收益的问题，一个一个回答太难所以就有了这个小工具。</p>
            <p>6.看过往期视频的朋友就知道里面所有数据都是从头到尾一个一个测试过来的，所以指正错误请带上计算过程与数据，</p>
            <p> 只是一种感觉的话老白可以帮忙想一下怎么回事但没法凭个人感觉推翻计算还望理解。</p>
        </Scroll>
    </TabItem>
    <TabItem Text="更新日志">
        <Scroll Height="500px">
            <h5>V2.1.2</h5>
            <p>属性收益计算器引入首领克制曲线的展示。</p>
            <h5>V2.1.0</h5>
            <p>属性收益计算器内初步实现了收益率图表功能并完成了计算校验。</p>
            <h5>V2.0.0</h5>
            <p>新增了属性收益计算器，后续将继续更新功能</p>
            <h5>V1.2.3</h5>
            <p>结合计算过程的值，将实际命中率显示出来（和另外一款EXCEL计算器对比数值是一样的），可供参考</p>
            <h5>V1.2.2</h5>
            <p>优化计算器加载组件的数量和大小，暂时移除进度条</p>
            <h5>V1.2.1</h5>
            <p>调整布局，使选项排布在手机和电脑上更为合理</p>
            <h5>V1.2.0</h5>
            <p>增加PWA支持，PC和安卓的Chrome浏览器/IOS≥11.3的Safari可以将该页面保存至桌面/主屏幕</p>
            <h5>V1.1.0</h5>
            <p>增加浏览器存储支持，现在可以保留最近一次的计算结果了（需要按下“计算”按钮方可保存）</p>
            <p/>
            <h5>V1.0.0</h5>
            <p>完成计算器的初步功能编写和页面排版</p>
        </Scroll>
    </TabItem>
</Tab>

@code {

}