<Tab IsBorderCard="true">
    <TabItem Text="工具使用说明">
        <Scroll Height="500px">
            <p>以下内容皆来源于原作者Excel工具内的说明,关于原作者信息可点击“关于作者”查看</p>
            <p>1.计算器中命中无法超过满命中值 </p>
            <p>2.计算器中破防无法超过防御，大于防御部分破防无收益所以按照防御值堆破防即可</p>
            <p>3.计算器中敌方防御 敌方格挡需要根据不同副本玩家测算值填入（默认为英雄舞阳数据）</p>
            <p>4.右边为自身基础属性，左边为新增属性。</p>
            <p>5.左边填入不同属性可得到不同增伤值，可用来判断词条强弱，特技强弱，装备词条强弱，可比较多条属性收益。</p>
            <p>6.百分比增伤属性比如日月 百分比克制 远程伤害增加（因为目前稀释有限）这类也可以简单和计算的百分比增伤比。例如： 已有百分比克制10%  新增5%首领克制实际增伤百分比为5%/（100%+10%）=4.55%</p>
            <p>7.如计算弱属性收益时，属攻和新增属攻填入都需要乘以2，才能计算出正确收益。</p>
            <p>8.如计算百分比增加攻击 属攻的收益可以简单的填入实际增加的攻击与属攻值即可。</p>
            <p>9.会伤 新增会伤 周天会心率均为百分数请注意，单击直接输出数字即可。</p>
            <p>10.目前计算器适用PVE，PVP属性未全部纳入可做参考会有一定误差。</p>
            <p>注意事项：</p>
            <p>1.会心会伤收益由于部分伤害无法会心会有出入，命中收益由于部分伤害无法被格挡会有出入（但是这类伤害占比低影响不大）</p>
            <p>2.会心会伤收益与命中收益又相互相关互相影响，即会心会伤不同会改变命中收益反之命中不同也会改变会心会收益，这类不同不是计算器错误反而是正确的证明。</p>
            <p>3.破防与防御为对立属性有防御收益递减所以必有破防收益递增，命中与格挡同理大概率不会存在格挡收益递减其对立属性命中也是收益递减。</p>
            <p>4.额外增加会心率的特技如典型的凌锋击岳特技目前无法简单计算会心会伤收益，但是可参考计算的值其中会心收益略下浮，会伤收益略上浮</p>
            <p>5.尽信书则不如无书，小工具目的是回答一些关于属性收益的问题，一个一个回答太难所以就有了这个小工具。</p>
            <p>6.看过往期视频的朋友就知道里面所有数据都是从头到尾一个一个测试过来的，所以指正错误请带上计算过程与数据，</p>
            <p> 只是一种感觉的话老白可以帮忙想一下怎么回事但没法凭个人感觉推翻计算还望理解。</p>
        </Scroll>
    </TabItem>
    <TabItem Text="关于作者">
        <Scroll Height="500px">
            <h4>在线工具作者：菜菜菜菜菜</h4>
            <p/>
            <h4>公式原作者：B站@@白宝正不正</h4>
            <p/>
            <p>原作者B站视频链接：<a href="https://www.bilibili.com/video/BV1DP411Y7MK">传送门</a></p>
            <p>本工具基于@@白宝正不正的原EXCEL工具而来，可以为手机端的小伙伴提供比较方便的操作体验</p>
            <p>做这个工具的起点是之前看到帮里的小伙伴有讨论在现有情况下提升属性收益的问题；后来在网上看到了作者@@白宝正不正的EXCEL，个人感觉有一定帮助，但考虑到帮派里的很多小伙伴都是手机为主，就心想着试试</p>
            <p>不过老实说这个东西已经挖坑很久了，之前尝试做过，但因为对Vue不熟，暂时搁置了，目前是用的Blazor来编写，个人相对熟悉一些；不过因为制作时间不长（只花了一天多），界面会比较简陋，后续会尝试优化一下界面</p>
            <p>之后几天会考虑添加一些实用的功能，例如记住最近一次的输入内容、直接添加到手机主屏幕等；如果有其他的想法欢迎提出~</p>
            <p>有问题可以在群里直接艾特我~</p>
        </Scroll>
    </TabItem>
        <TabItem Text="更新日志">
            <Scroll Height="500px">
                <h5>V1.2.1</h5>
                <p>调整布局，使选项排布在手机和电脑上更为合理。</p>
                <h5>V1.2.0</h5>
                <p>增加PWA支持，PC和安卓的Chrome浏览器/IOS≥11.3的Safari可以将该页面保存至桌面/主屏幕</p>
                <h5>V1.1.0</h5>
                <p>增加浏览器存储支持，现在可以保留最近一次的计算结果了（需要按下“计算”按钮方可保存）</p>
                <p/>
                <h5>V1.0.0</h5>
                <p>完成计算器的初步功能编写和页面排版</p>
            </Scroll>
        </TabItem>
</Tab>

@code {
    
}