<h4>1.声明</h4>
<p>该功能为实验性功能，具体以实际手机支持为准；如果是在QQ/微信里打开的可能无法支持这个功能</p>
<p />
<h4>2.Chrome浏览器</h4>
<p>如果是Windows用户，可以在页面加载完成后点击地址栏里的安装按钮，大概像这样</p>
<img src="/img/install_win.png"/>
<p>如果是安卓和苹果用户，可以在页面加载完成后点击右上角选项（长得像竖着的三个点），再点击“添加到主屏幕”即可</p>
<p />
<h4>3.Safari浏览器</h4>
<p>使用 Safari 浏览器打开本页面，点击浏览器底部的分享按钮，选择“添加到主屏幕”，接着点击右上角的“添加”即可</p>
<p />
<h4>4.后记</h4>
<p>其他浏览器如果真的需要将本计算器添加到主屏幕，可以使用浏览器自带的书签功能，部分浏览器可以支持将书签添加到主屏幕。</p>
<p>（实际上应该没什么人用才对）</p>

@code {

}
